.container {
  margin-top: 5%;
  height: 800px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid black;
}
.cell {
  background-color: white;
}
.cell-hovered {
  background-color: grey;
}
button{
    font-size:20px;
}
html,
body {
  margin: 0;
  padding: 0px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
